<!doctype html>
<html>
{% load static %}
{% spaceless %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>{{titulo}}</title>
    <style>
        #loader{transition:all .3s ease-in-out;opacity:1;visibility:visible;position:fixed;height:100vh;width:100%;background:#fff;z-index:90000}#loader.fadeOut{opacity:0;visibility:hidden}.spinner{width:40px;height:40px;position:absolute;top:calc(50% - 20px);left:calc(50% - 20px);background-color:#333;border-radius:100%;-webkit-animation:sk-scaleout 1s infinite ease-in-out;animation:sk-scaleout 1s infinite ease-in-out}@-webkit-keyframes sk-scaleout{0%{-webkit-transform:scale(0)}100%{-webkit-transform:scale(1);opacity:0}}@keyframes sk-scaleout{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}
    </style>
    <link href="{% static 'fin/style.css' %}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
{% block head_block %}

{% endblock head_block %}
</head>
{% if find_text %}
<body class="app" onload="document.getElementById('texto_pesquisa').focus();">
{% elif find_date %}
<body class="app" onload="document.getElementById('submit_button').focus();">
{% else %}
<body class="app">
{% endif %}
<div id="loader">
    <div class="spinner"></div>
</div>
<script>window.addEventListener('load', function load() {
        const loader = document.getElementById('loader');
        setTimeout(function() {
          loader.classList.add('fadeOut');
        }, 300);
      });

</script>
<div>
    {% include "./menu_lateral.html" %}
    <div class="page-container">
        {% include "./menu_superior.html" %}
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="bgc-white p-20 bd">
                    <div class="mT-5">
                        <form action="{% url view %}" method="post">
                            {% csrf_token %}
                            {% block form_field %}{% endblock form_field %}
                            {% block form_button %}
                            <div>
                                <button type="submit" id="submit_button" value="submit" class="btn btn-primary">Consultar</button>
                                {% if find_date %}
                                <button type="submit" name="submit" id="previous_button" value="previous" class="btn btn-primary" style="margin-left:20px">Anterior</button>
                                <button type="submit" name="submit" id="next_button" value="next" class="btn btn-primary" style="margin-left:20px">Próxima</button>
                                {% endif %}
                            </div>
                            {% endblock form_button %}
                        </form>
                    </div>
                    {% block header_block %}{% endblock header_block %}
                    <div class="mT-10" style="overflow:auto">
                    {% block main_block %}
                        {% if list %}
                        <table class="table table-striped" id="maintable">
                            <thead>
                            {% autoescape off %}
                            {% for column in header %}
                                <th>{{ column }}</th>
                            {% endfor %}
                            {% endautoescape %}
                            </thead>
                            {% for record in list %}
                            <tr>
                                {% for item in record %}
                                <td>{{ item }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            {% block trailer_table %}{% endblock trailer_table %}
                        </table>
                        {% else %}
                            {% if message %}
                                <p>{{ message }}</p>
                            {% else %}
                                <p>Sem registo.</p>
                            {% endif %}
                        {% endif %}
                    {% endblock main_block %}
                    </div>
                    {% block trailer_block %}{% endblock trailer_block %}
                    {% load tz %}
{% timezone "Brazil/East" %}
                    <small class="form-text text-muted">Updated on {% now "Y-m-d___H:i:s" %}{% if debug_flag %}D{% endif %}</small>
{% endtimezone %}
                </div>
            </div>
        </main>
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Designed by © <a href="https://colorlib.com" target="_blank"
                                                  title="Colorlib">Colorlib</a> 2017.</span>
        </footer>
    </div>
</div>
<script type="text/javascript" src="{% static 'fin/vendor.js' %}"></script>
<script type="text/javascript" src="{% static 'fin/bundle.js' %}"></script>

<script>
function sumSelection() {
  checkboxes = document.getElementsByClassName('sum-item');
  valortotal  = document.getElementById('valor-total');
  total = 0;
  for(var i=0, n=checkboxes.length;i<n;i++) {
     if (checkboxes[i].checked) {
       total += parseFloat(checkboxes[i].value);
     }
   }
   valortotal.innerHTML = total.toFixed(2);
}

function toggleSelection(source) {
  checkboxes = document.getElementsByClassName('sum-item');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
  sumSelection();
}
</script>

{% block post_script %}{% endblock post_script %}

</body>
{% endspaceless %}
</html>