{% extends "./base.html" %}
{% load fin_extras %}
{% block form_field %}
<div class="form-group row">
    {% if find_text %}
    <label for="texto_pesquisa" class="col-sm-2 col-form-label">Fornecedor</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" name="texto_pesquisa" id="texto_pesquisa" value="{{ texto_pesquisa }}" onfocus="this.select();">
    </div>
    {% endif %}
    {% if find_date %}
    <label for="data_ini" class="col-sm-2 col-form-label">Data Inicial</label>
    <div class="col-sm-4">
        <input type="text" class="form-control start-date" id="data_ini" name="data_ini" autocomplete="off" placeholder="Entre com data inicial" value="{{ data_ini }}">
    </div>
</div>
<div class="form-group row">
    <label for="data_fim" class="col-sm-2 col-form-label">Data Final</label>
    <div class="col-sm-4">
        <input type="text" class="form-control end-date" id="data_fim" name="data_fim" autocomplete="off" placeholder="Entre com data final" value="{{ data_fim }}">
    </div>
    {% endif %}
    <input type="hidden" id="codgio_cfd" value="{{ codigo_cfd }}">
</div>
{% if checkbox_list %}
{% for category in checkbox_list %}
<div class="form-group row">
    <div class="col-sm-1">{{ category.category }}</div>
    <div class="col-sm-2"><div class="form-check">
        {% for option in category.options %}
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="{{ option.name }}" value="{{option.value}}" {% if option.checked %}checked{% endif %}> {{option.label}}</label>
        {% endfor %}
    </div></div>
</div>
{% endfor %}
{% endif %}


{% endblock form_field %}

{% block main_block %}
    {% if list %}
    <table class="table table-striped">
        <thead>
        {% autoescape off %}
            <th><div class="form-check"><input class="form-check-input" type="checkbox" onclick="toggleSelection(this)"></div>&#xa0;</th>
            <th>A/B</th>
            <th>Vencim</th>
            <th>Valor&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</th>
            <th>Identificação</th>
            <th>Cd</th>
            <th>Conta</th>
            <th>Cd</th>
            <th>Documento</th>
            <th>Razão&#xa0;Social&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;</th>
            <th>Emissão</th>
            <th>Vencimento</th>
            <th>Valor&#xa0;Nota</th>
            <th>Pagamento</th>
            <th>Valor&#xa0;Pago</th>
            <th>Desconto</th>
            <th>Acréscimo</th>
            <th>Grupo</th>
            <th>Cd</th>
            <th>Subgrupo</th>
            <th>Cd</th>
            <th>ID</th>
        {% endautoescape %}
        </thead>
        {% for record in list %}
        <tr>
            <td><div class="form-check">
                <input class="form-check-input sum-item" type="checkbox" value="{{ record.2 }}" onclick="sumSelection()"></div>&#xa0;</td>
            <td>{{ record.0 }}</td>
            <td>{{ record.1 }}</td>
            <td align="right"><b>{{ record.2|currency }}</b></td>
            <td>{{ record.3 }}</td>
            <td>{{ record.4 }}</td>
            <td>{{ record.5 }}</td>
            <td>{{ record.6 }}</td>
            <td>{{ record.7 }}</td>
            <td>{{ record.8 }}</td>
            <td>{{ record.9 }}</td>
            <td>{{ record.10 }}</td>
            <td align="right">{{ record.11|currency }}</td>
            <td>{{ record.12 }}</td>
            <td align="right">{{ record.13|currency }}</td>
            <td align="right">{{ record.14|currency }}</td>
            <td align="right">{{ record.15|currency }}</td>
            <td>{{ record.16 }}</td>
            <td align="right">{{ record.17 }}</td>
            <td>{{ record.18 }}</td>
            <td align="right">{{ record.19 }}</td>
            <td>{{ record.20 }}</td>
        </tr>
        {% endfor %}
        {% block trailer_table %}{% endblock trailer_table %}
    </table>
    {% else %}
        <p>Sem registo.</p>
    {% endif %}
{% endblock main_block %}

