{% extends "./list.html" %}
{% block trailer_table %}
        <tr>
            <td><b>Total</b></td>
            <td><b>{{ cupons }}</b></td>
            <td><b>{{ total_movimento }}</b></td>
            <td><b>{{ ticket_medio }}</b></td>
            <td><b>{{ total_acerto }}</b></td>
            <td/>
            <td/>
            <td/>
            <td/>
            <td/>
        </tr>
{% endblock trailer_table %}

{% block trailer_block %}
<div class="mT-10">
    <div class="row">
        <h6 class="col-sm-3 text-dark">Venda cigarro:</h6>
        <h6 class="col-sm-4 text-dark">{{ total_cigarro }}</h6>
    </div>
    <div class="row">
        <h6 class="col-sm-3 text-dark">Total sem cigarro:</h6>
        <h6 class="col-sm-4 text-dark">{{ total_movimento_sem_cigarro }}</h6>
    </div>
    <br>
    <div class="row">
        <h6 class="col-sm-3 text-dark">Total espécie:</h6>
        <h6 class="col-sm-4 text-dark">{{ total_especie }}</h6>
    </div>
    <div class="row">
        <h6 class="col-sm-3 text-dark">Total cartão:</h6>
        <h6 class="col-sm-4 text-dark">{{ total_cartao }}</h6>
    </div>

    <!--
    {% if lista_especie %}
        {% for record in lista_especie %}
            <div class="row">
                <h6 class="col-sm-4 text-dark">
                {% for item in record %}
                    {{ item }}
                {% endfor %}
                </h6>
            </div>
        {% endfor %}
    {% endif %}
    -->

 </div>
{% endblock trailer_block %}

