{% extends "./list.html" %}


{% block trailer_block %}
<div class="mT-10">
    <div style="display:flex; flex-wrap:wrap;">
        <div class="column">
            <h6 class="col-sm-3 text-dark">Cigarro:</h6>
            <h6 class="col-sm-4 text-dark">{{ total_cigarro }}</h6>
        </div>
        <div class="column">
            <h6 class="col-sm-3 text-dark">Líquido:</h6>
            <h6 class="col-sm-4 text-dark">{{ total_movimento_sem_cigarro }}</h6>
        </div>
        <div class="column">
            <h6 class="col-sm-3 text-dark">Revenda:</h6>
            <h6 class="col-sm-4 text-dark">{{ total_revenda }}</h6>
        </div>
        <div class="column">
            <h6 class="col-sm-3 text-dark">Próprio:</h6>
            <h6 class="col-sm-4 text-dark">{{ total_produto_proprio }}</h6>
        </div>
    </div>
    <br>
    {% for record in lista_especie %}
        <div class="row">
            {% for item in record %}
                {% autoescape off %}
                {% cycle '<h6 class="col-sm-3 text-dark">Total' ' ' %}
                {{ item }}{% cycle ':' '</h6>' %}
                {% endautoescape %}
            {% endfor %}
        </div>
    {% endfor %}



 </div>
{% endblock trailer_block %}

